.interface {
  text-align: left;
  font-size: 35px;
  margin-top: -50px;      /* space above, center horizontally */
  margin-left: 50px;    /* space to the left */
}

.interface p {
  max-width: 400px;          /* keeps text from stretching too wide */
  margin-top: -50px;        /* space above, center horizontally */
  font-size: 1.1rem;          /* readable size */
  line-height: 2;           /* comfortable spacing between lines */
  color: black;             /* light gray text for dark backgrounds */
  text-align: left;         /* center the paragraph text */
}
